.img-banner{
    height: 350px;
} 
.container-fluid{
    padding-left: 0%;
    padding-right: 0%;
}
.social{
    width: 45x;
    height: 45px;
}
.footer-area{
    background-color: lightgray;
    padding-top: 60px;
    padding-bottom: 15px;
}
.img-corpo{
    height: 100%;
    width: 100%;
}
.card{
    margin-inline: 35px;
}
.card-img-top{
    height: 160px ;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,0.4);
  }
